@use '../utils' as *;

/*----------------------------------------*/
/*  2.6 Breadcrumb
/*----------------------------------------*/

.pd-breadcrumb{
    &-content{
        padding: 18px 0;
    }
    &-list{
        & span{
            font-size: 14px;
            line-height: 1;
            color: rgba(15, 15, 15, 0.60);
            font-family: var(--aq-ff-satoshi-medium);
        }
    }
}

.aq-breadcrumb{
    &-title{
        font-size: 44px;
        font-weight: 500;
        letter-spacing: -0.3px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
        &.fs-44{
            font-size: 44px;
        }
        &.fs-50{
            font-size: 50px;
            @media #{$xs} {
                font-size: 35px;
            }
        }
        &.ff-libre{
            font-size: 40px;
            font-weight: 400;
            font-family: var(--aq-ff-libre);
        }
    }
    &-content{
        & p{
            font-weight: 500;
            color: rgba(15, 15, 15, 0.60);
        }
    }
    &-categories-wrap{
        & .aqf-categories{
            &-wrap{
                gap: 20px;
                flex-wrap: wrap;
            }
            &-img{
                border: 6px solid var(--aq-common-white);;
            }
            &-item {
                & span{
                    margin: 0;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: rgba(15, 15, 15, 0.70);
                    @media #{$xl,$lg,$md,$xs} {
                        font-size: 14px;
                    }
                }
            }
        }
        &.product-full-style{
            & .aqf-categories-item {
                & span{
                    font-weight: 400;
                    letter-spacing: -0.16px;
                    text-transform: capitalize;
                    font-family: var(--aq-ff-onest);
                    color: var(--aq-common-black);
                }
                &:hover{
                    & span{
                        color: var(--aq-common-coffee);   
                    }
                }
            }
        }
    }
    &-top{
        &-heading{
            @media #{$xs} {
                padding-bottom: 40px;
            }
        }
    }
}