@use '../utils' as *;
/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

.aq-btn {
	&-black {
		padding: 18px 30px;
		font-weight: 600;
		line-height: 1;
		font-size: 14px;
		transition: .3s;
		display: inline-block;
		text-transform: uppercase;
		color: var(--aq-common-white);
		border: 1px solid transparent;
		font-family: var(--aq-ff-satoshi-bold);
		background-color: var(--aq-common-black);

		@media #{$xl,$lg} {
			padding: 12px 30px;
		}

		@media #{$md} {
			padding: 14px 18px;
			font-size: 12px;
		}

		@media #{$xs} {
			padding: 12px 15px;
			font-size: 12px;
		}

		& span {
			@extend %svg-2;
			margin-inline-start: 4px;
			display: inline-block;
		}
		&.hover-coffee-bg {
			color: var(--aq-common-white);
			border-color: var(--aq-common-coffee);
			background-color: var(--aq-common-coffee);

			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}

		&.btn-square {
			border-radius: none;
		}

		&.blur-bg {
			border: 1px solid rgba(255, 255, 255, 0.50);
			background: rgba(20, 20, 20, 0.10);
			backdrop-filter: blur(7px);

			&:hover {
				color: var(--aq-common-black);
				border-color: var(--aq-common-white);
				background-color: var(--aq-common-white);
			}
		}

		&.btn-coffee-bg {
			backdrop-filter: blur(7px);
			background: var(--aq-common-coffee);
			border: 1px solid var(--aq-common-coffee);

			&:hover {
				color: var(--aq-common-coffee);
				border-color: var(--aq-common-coffee);
			}
		}

		&.btn-white-bg {
			color: var(--aq-common-black);
			background: var(--aq-common-white);
			border: 1px solid var(--aq-common-white);

			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-white);
			}
		}

		&.btn-red-bg {
			border-color: var(--aq-common-red);
			background-color: var(--aq-common-red);

			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-red);
				background-color: var(--aq-common-red-deep);
			}
		}

		&.border-btn {
			background-color: transparent;
			color: var(--aq-common-black);
			border-color: rgba($color: #000000, $alpha: 0.1);

			&:hover {
				color: var(--aq-common-white);
				background-color: var(--aq-common-black);
			}
		}

		&.radius {
			&-8 {
				border-radius: 8px;
			}

			&-30 {
				border-radius: 30px;
			}
		}

		&.btn-h {
			&-40 {
				padding: 13px 22px;
			}

			&-46 {
				padding: 15px 30px;
			}
		}

		&.hover-red-bg {
			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-red);
				background-color: var(--aq-common-red);
			}
		}
		&:hover {
			background-color: transparent;
			color: var(--aq-common-black);
			border-color: var(--aq-common-black);
		}
		&.disable-btn{
			opacity: .6;
			cursor: not-allowed;
			&:hover{
				color: var(--aq-common-white);
				background-color: var(--aq-common-black);
			}
		}
	}
	&-white {
		padding: 18px 30px;
		font-weight: 600;
		line-height: 1;
		font-size: 14px;
		transition: .3s;
		border-radius: 30px;
		display: inline-block;
		text-transform: uppercase;
		color: var(--aq-common-black);
		border: 1px solid transparent;
		font-family: var(--aq-ff-satoshi-bold);
		background-color: var(--aq-common-white);
		@media #{$lg} {
			padding: 14px 28px;
		}
		@media #{$md} {
			padding: 14px 25px;
		}
		@media #{$xs} {
			padding: 14px 20px;
			font-size: 13px;
		}
		&:hover {
			background-color: transparent;
			color: var(--aq-common-white);
			border-color: var(--aq-common-white);
		}
		&.btn-h-54 {
			border: none;
			border-radius: 0;
			padding: 14px 60px;
			& span {
				margin-inline-start: 6px;
				display: inline-block;

				& svg {
					transform: translateY(-1px);
				}
			}
			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}
		&.btn-h-36 {
			font-size: 12px;
			padding: 12px 21px 10px;
			& span {
				margin-inline-start: 4px;
				display: inline-block;

				& svg {
					transform: translateY(-1px);
				}
			}
			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}
		&.btn-green-bg {
			padding: 15px 30px 14px;
			color: var(--aq-common-white);
			background-color: var(--aq-common-green);
			& span {
				@extend %svg-2;
				margin-inline-start: 5px;
				display: inline-block;
			}
		}
		&.btn-paste-bg {
			color: var(--aq-common-white);
			background-color: var(--aq-common-paste);
		}
		&.btn-square-bg {
			border-radius: 0;
			padding: 12px 20px;
			text-transform: capitalize;
			& svg {
				margin-inline-start: 5px;
				display: inline-block;
			}
			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}
		&.btn-border-gray {
			border-color: var(--aq-gray-5);
		}
	}
	&-text {
		font-size: 18px;
		line-height: 1.8;
		color: var(--aq-common-black);
		font-family: var(--aq-ff-satoshi-medium);
		&:hover {
			color: var(--aq-common-black);
		}
	}
	&-subscribe {
		padding: 18px 30px;
		font-weight: 600;
		line-height: 1;
		font-size: 14px;
		transition: .3s;
		display: inline-block;
		text-transform: uppercase;
		color: var(--aq-common-white);
		font-family: var(--aq-ff-satoshi-bold);
		background-color: var(--aq-common-black);
		& svg {
			@extend %svg-2;
			margin-inline-start: 5px;
			display: inline-block;
		}
		@media #{$xl} {
			padding: 15px 30px;
		}
		&.btn-radius-8 {
			border-radius: 8px;
			&:hover {
				color: var(--aq-common-black);
				background-color: var(--aq-common-white);
			}
		}
		&:hover {
			color: var(--aq-common-white);
			background-color: var(--aq-common-red);
		}
	}
	&-link {
		font-size: 15px;
		line-height: 2;
		color: var(--aq-common-black);
		font-family: var(--aq-ff-satoshi-medium);
		& span {
			@extend %svg-2;
			margin-inline-start: 8px;
			display: inline-block;
		}
		&:hover {
			color: var(--aq-common-red);
			&.aq-text-white {
				color: var(--aq-common-white);
			}
		}
	}
	&-border {
		padding: 13px 22px;
		font-weight: 600;
		line-height: 1;
		font-size: 14px;
		transition: .3s;
		border-radius: 30px;
		display: inline-block;
		text-transform: uppercase;
		color: var(--aq-common-white);
		font-family: var(--aq-ff-onest);
		border: 1px solid var(--aq-common-white);

		&.btn-border-black {
			border-radius: 0;
			color: var(--aq-common-black);
			border-color: var(--aq-common-black);

			& svg {
				margin-inline-start: 3px;
				transform: translateY(-1px);
			}

			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}

		&.btn-bg-white {
			color: var(--aq-common-black);
			background-color: var(--aq-common-white);

			&:hover {
				color: var(--aq-common-white);
				background-color: transparent;
			}
		}

		&.border-off-white {
			color: var(--aq-common-off-white);
			font-family: var(--aq-ff-satoshi-bold);
			border-color: rgba($color: #F7F2ED, $alpha: 0.1);
		}

		&:hover {
			color: var(--aq-common-black);
			background-color: var(--aq-common-white);
		}

		&.btn-border-gray {
			font-size: 14px;
			font-weight: 500;
			padding: 13px 50px;
			text-transform: uppercase;
			color: var(--aq-common-black);
			font-family: var(--aq-ff-onest);
			border: 1px solid rgba($color: #000000, $alpha: 0.1);

			&:hover {
				color: var(--aq-common-white);
				border-color: var(--aq-common-black);
				background-color: var(--aq-common-black);
			}
		}
	}
	&-underline {
		display: inline-flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: .2em;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transition: transform .5s cubic-bezier(.59, .23, .22, .96);
		}
		&::before {
			inset-inline-start: 0;
		}
		&::after {
			inset-inline-start: calc(-1 * 1rem);
			transform: translateX(-100%);
		}
		&:hover {
			color: var(--aq-common-black);
			&::after {
				transform: translateX(1rem);
			}

			&::before {
				transform: translateX(calc(100% + 1rem));
			}
		}
	}
}

.aq-img {
	&-hover {
		position: absolute;
		inset: 0;
		opacity: 0;
		transform: scale(1);
		transition: opacity 0.3s ease, transform 1s cubic-bezier(0, 0, 0.44, 1.18);

		&-wrap {
			&:hover {
				& .aq-img-hover {
					opacity: 1;
					transform: scale(1.05);
				}
			}
		}
	}
}

.product-btn {
	&-style {
		&-2 {
			& .aq-product-action-btn {
				flex: 0 0 auto;
				margin-inline-start: 10px;
				box-shadow: none;
				background-color: transparent;
				border: 1px solid rgba(15, 15, 15, 0.10);

				&:hover {
					background-color: var(--aq-common-black);
				}
			}
		}
	}

	&-green {
		font-size: 14px;
		font-weight: 600;
		border-radius: 8px;
		padding: 9px 25px;
		text-transform: uppercase;
		color: var(--aq-common-green);
		font-family: var(--aq-ff-onest);
		background: rgba(8, 121, 8, 0.08);

		&:hover {
			color: var(--aq-common-white);
			background-color: var(--aq-common-green);
		}
	}
}

.product-view {
	&-details {
		&-btn {
			font-size: 17px;
			line-height: 1.1;
			color: var(--aq-common-black);
			font-family: var(--aq-ff-satoshi-medium);

			& svg {
				margin-inline-start: 5px;
			}

			&:hover {
				color: var(--aq-common-red);
			}
		}
	}
}

.btn-shine-effect {
	position: relative;
	overflow: hidden;
	display: inline-block;

	&::after {
		position: absolute;
		content: "";
		inset-inline-start: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .2);
		-webkit-transition: all .7s;
		transition: all .7s;
		-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 300%, 0);
		transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -300%, 0);
	}

	&:hover {
		&::after {
			-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 300%, 0);
			transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 300%, 0);
		}
	}
}