@use '../../../utils' as *;

/*----------------------------------------*/
/*  9.5 Fashion slider css
/*----------------------------------------*/

.aqf-slider{
    &-thumb{
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
        @media #{$xs}{
            position: static;
        }
        & img{
            margin-inline-end: -100px;
            height: 100%;
            object-fit: cover; 
            width: 100%;
            @media #{$xl}{
                margin-inline-end: 0;
            }
            @media #{$xs}{
                margin-inline-end: 0;
                height: auto;
                object-fit: inherit;
            }
            @media #{$sm}{
                margin-inline-end: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-content{
        padding-top: 200px;
        padding-bottom: 200px;
        @media #{$xl,$lg}{
            padding-top: 110px;
            padding-bottom: 110px;
        }
        @media #{$md}{
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @media #{$xs}{
            padding-top: 30px;
            padding-bottom: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        & .aq-section-subtitle{
            animation-delay: 0.3s;
            animation-duration: 1s;
            display: inline-block;
        }
        & .aq-section-title{
            animation-delay: 0.5s;
            animation-duration: 1s;
        }
        & .elt-slider-price{
            animation-delay: 0.6s;
            animation-duration: 1s;
        }
        & .aq-btn-black,
        & .aq-btn-link,
        & .aq-btn-white{
            animation-delay: 0.7s;
            animation-duration: 1s;
        }
    }
    &-active{
        & .cy-slider-info-wrap{
            animation-delay: 0.9s;
            animation-duration: 1s;
        }
        & .swiper-slide-active {
            & .aqf-slider-content {
                & .aq-section-subtitle,
                & .aq-section-title,
                & .aq-btn-black,
                & .elt-slider-price,
                & .aq-btn-link,
                & .aq-btn-white {
                    animation-name: fadeInUp;
                    animation-fill-mode: both;
                } 
            }
            & .grc-hero-content{
                & .grc-hero-subtitle,
                & .grc-hero-title,
                & .grc-hero-text,
                & .grc-hero-btn{
                    animation-name: fadeInUp;
                    animation-fill-mode: both;
                }
            }
            & .grc-hero-thumb-wrap{
                animation-name: fadeInUp;
                animation-fill-mode: both;
            }
            & .med-hero-content{
                & .med-hero-subtitle,
                & .med-hero-title,
                & .med-hero-text,
                & .med-hero-btn{
                    animation-name: fadeInUp;
                    animation-fill-mode: both;
                }
            }
            & .med-hero-thumb-wrap{
                animation-name: fadeInUp;
                animation-fill-mode: both;
            }
            & .grc-hero-shapes{
                & .shape{
                    &-1{
                        & img{
                            transform: translateY(0px);
                        }
                    }
                    &-2{
                        & img{
                            transform: translateY(0px);
                        }
                    }
                    &-3,
                    &-4{
                        animation-name: fadeInUp;
                        animation-fill-mode: both;
                    }
                    &-5{
                        & img{
                            transform: translateX(0px);
                        }
                    }
                    &-6{
                        & img{
                            transform: translateY(0px);
                        }
                    }
                }
            }
            & .cy-slider-info-wrap {
                & img{
                    animation-name: fadeInUp;
                    animation-fill-mode: both;
                }
            } 
        }
    }
    &-dot{
        position: absolute;
        top: 50%;
        inset-inline-end: 50px;
        z-index: 22;
        display: inline-flex;
        inset-inline-start: auto !important;
        width: auto !important;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-50%);
        @media #{$xs}{
            position: static;
            width: inherit !important;
            flex-direction: row;
            justify-content: center;
            transform: translateY(0);
            display: flex;
            text-align: center;
        }
        & .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 1;
            transition: .3s;
            border-radius: 50%;
            display: inline-block;
            margin: 9px 0 !important;
            border: 1px solid transparent;
            background: var(--aq-common-black);
            @media #{$md}{
                margin: 4px 0 !important;
            }
            @media #{$xs}{
                margin: 20px 4px !important;
                margin-top: 0 !important;
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
                background: transparent;
                transform: scale(1.3);
                border-color: var(--aq-common-black);
            }
        }
    }
}

.aqf-arrow{
    &-border{
        height: 25px;
        width: 2px;
        margin: 0 25px;
        display: inline-block;
        transform: translateY(1px);
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}

.aqf-summer{
    &-slider{
        @media #{$lg,$md,$xs}{
            margin-bottom: 25px;
        }
        &-content{
            @media #{$lg,$md,$xs}{
                margin-bottom: 30px;
            }
            & p{
                font-size: 20px;
                line-height: 1.5;
                padding-bottom: 22px;
                letter-spacing: -0.24px;
                color: var(--aq-common-black);
                font-family: var(--aq-ff-satoshi-regular);
                @media #{$lg,$md,$xs}{
                    padding-bottom: 0;
                }
            }
        }
        &-arrow{
            & button{
                color: var(--aq-common-black);
                &:hover{
                    color: var(--aq-common-red);
                }
            }
        }
        &-wrap{
            @media #{$lg,$md,$xs}{
                padding-inline-start: 0;
            }
        }
    }
    &-title{
        &-wrap{
            @media #{$lg,$md,$xs}{
                padding-top: 30px;
                & .aq-section-title.fs-60{
                    font-size: 30px;
                    margin-bottom: 15px;
                    & br{
                        display: none;
                    }
                }
            } 
        }
    }
    &-active{
        margin-inline-start: 20px;
        @media #{$lg,$md,$xs}{
            margin-inline-start: 0;
        }
    }
    &-suit{
        &-area{
            @media #{$xl}{
                padding-bottom: 90px;
            }
            @media #{$lg,$lg,$md,$xs}{
                padding-bottom: 80px;
            }
        }
        &-img{
            height: 100%;
            & img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-wrap{
        @media #{$md,$xs}{
            padding: 0 30px;
        }
    }
}

.cy-slider {
    &-info{
        &-subtitle{
            font-size: 13px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 10px;
            display: inline-block;
            font-family: var(--aq-ff-onest);
            color: rgba(255, 255, 255, 0.50);
            @media #{$xs}{
                color: var(--aq-common-black);
            }
        }
        &-title{
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 5px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-onest);
            @media #{$xs}{
                color: var(--aq-common-black);
            }
        }
        &-wrap{
            @media #{$xl}{
                padding-bottom: 65px;
            }
            @media #{$xs}{
                flex-wrap: wrap;
                padding-bottom: 20px;
            }
            & .cy-slider-info-item{
                &:not(:last-child){
                    margin-inline-end: 30px;
                }
            }
        }
        &-item{
            padding-inline-start: 16px;
            border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
            @media #{$xs}{
                margin-bottom: 30px;
                border-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
    &-content{
        padding-top: 175px;
        padding-bottom: 185px;
        @media #{$xl,$lg}{
            padding-top: 90px;
            padding-bottom: 70px;
        }
        @media #{$md}{
            padding-top: 115px;
            padding-bottom: 100px;
        }
        @media #{$xs}{
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }
    }
    &-style{
        & .aqf-slider-dot .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: transparent;
            border-color: var(--aq-common-white);
            @media #{$xs}{
                border-color: var(--aq-common-black);
            }
        }
        & .aqf-slider-dot .swiper-pagination-bullet {
            background: var(--aq-common-white);
            @media #{$xs}{
                background-color: var(--aq-common-black);
            }
        }
        & .aq-section-title.fs-84 {
            @media #{$xs}{
                font-size: 55px;
                color: var(--aq-common-black);
            }
        }
        & .aq-section-subtitle.ff-onest-med {
            @media #{$xs}{
                color: var(--aq-common-black);
            }
        }
        & .aq-btn-white{
            @media #{$xs}{
                &:hover{
                    color: var(--aq-common-white);
                    background-color: var(--aq-common-black);
                    border-color: var(--aq-common-black);
                }
            }
        }
        & .elt-slider-price{
            color: var(--aq-common-white);
            @media #{$xs}{
                color: var(--aq-common-black);
            }
        }
    }
}

.csm-slider{
    &-content{
        padding-top: 370px;
        padding-bottom: 320px;
        @media #{$xl}{
            padding-top: 300px;
            padding-bottom: 220px;
        }
        @media #{$lg}{
            padding-top: 230px;
            padding-bottom: 200px;
        }
        @media #{$md}{
            padding-top: 180px;
            padding-bottom: 180px;
        }
        @media #{$xs}{
            padding-top: 100px;
            padding-bottom: 30px;
        }

    }
    &-style{
        & .aqf-slider-thumb {
            position: absolute;
            top: auto;
            inset-inline-start: auto;
            inset-inline-end: 6%;
            bottom: 0;
            width: inherit;
            height: inherit;
            @media #{$xxl}{
                right: -3%;
            }
            @media #{$xl}{
                right: 0;
                width: 60%;
            }
            @media #{$lg}{
                right: 0;
                width: 62%;
            }
            @media #{$md}{
                right: 0;
                width: 50%;
            }
            @media #{$xs}{
                position: static;
            }
            & img{
                margin: 0;
            }
        }
        & .aq-section-title.fs-84 {
            @media #{$lg}{
                font-size: 60px;
            }
            @media #{$md}{
                font-size: 55px;
            }
            @media #{$xs}{
                font-size: 50px;
            }
        }
    }
}

.aqf-slider-5-style{
    @media #{$md}{
        & .aqf-slider-content {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}