@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 Footer Style 1
/*----------------------------------------*/


.aq-footer{
    &-area{
        @media #{$lg}{
            padding-top: 70px;
        }
        @media #{$md,$xs}{
            padding-top: 60px;
        }
    }
    &-contact{
        &-item{
            margin-bottom: 15px;
            & a{
                font-size: 15px;
                line-height: 1.3;
                color: var(--aq-common-black-light);
                font-family: var(--aq-ff-satoshi-medium);
                &:hover{
                    color: var(--aq-common-red);
                }
                &.fs-bold{
                    font-size: 22px;
                    line-height: 1;
                    color: var(--aq-common-black);
                    font-family: var(--aq-ff-satoshi-bold);
                    &:hover{
                        color: var(--aq-common-red);
                    }
                }
            }
            & span{
                line-height: 1;
                margin-inline-end: 10px;
                display: inline-block;
                color: var(--aq-common-black-light);
            }
        }
    }
    &-widget{
        @media #{$md,$xs}{
            margin-bottom: 40px;
        }
        &-title{
            font-size: 20px;
            margin-bottom: 18px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-bold);
            @media #{$xl,$md}{
                font-size: 18px;
            }
        }
        &-menu{
            & ul{
                & li{
                    list-style-type: none;
                    &::before{
                        content: '';
                        height: 4px;
                        width: 4px;
                        margin-inline-end: 10px;
                        border-radius: 50%;
                        display: inline-block;
                        transform: translateY(-3px);
                        @include aq-transition();
                        background-color: var(--aq-common-black-light);
                    }
                    & a{
                        font-size: 16px;
                        line-height: 34px;
                        color: var(--aq-common-black-light);
                        font-family: var(--aq-ff-satoshi-medium);
                        @media #{$xl}{
                            font-size: 15px;
                        }
                    }
                    &:hover{
                        & a{
                            color: var(--aq-common-red);
                        }
                        &::before{
                            background-color: var(--aq-common-red);
                        }
                    }
                }
            }
        }
        &-input{
            & .aq-form-control{
                padding-inline-end: 150px;
            }
            &-box{
                & p{
                    font-size: 16px;
                    line-height: 1.5;
                    color: var(--aq-common-black-light);
                    font-family: var(--aq-ff-satoshi-medium);
                    & br{
                        @media #{$xl,$lg,$xs} {
                            display: none;
                        }
                    }
                }
            }
            & .aq-btn-subscribe{
                position: absolute;
                top: 50%;
                inset-inline-end: 4px;
                transform: translateY(-50%);
                @media #{$xl}{
                    position: static;
                    top: 0;
                    margin-top: 10px;
                    transform: translateY(0);
                }
            }
        }
        &-social{
            &-title{
                font-size: 15px;
                color: var(--aq-common-black);
                font-family: var(--aq-ff-satoshi-bold);
            }
            & a{
                height: 38px;
                width: 38px;
                display: grid;
                place-content: center;
                text-align: center;
                display: inline-block;
                color: var(--aq-common-black);
                background: var(--aq-common-white);
                box-shadow: 0 1px 4px 0 rgba(20, 20, 20, 0.10);
                &:not(:last-child){
                    margin-inline-end: 3px;
                }
                &:hover{
                    color: var(--aq-common-white);
                    background-color: var(--aq-common-red);
                }
            }
        }
        &-wrap{
            @media #{$xs} {
                padding-bottom: 0;
            }
        }
    }
    &-col{
        &-2{
            &-1{
                padding-inline-end: 150px;
                @media #{$xxl,$xl,$lg,$md,$xs}{
                    padding-inline-end: 0;
                }
            }
            &-2{
                padding-inline-start: 30px;
                @media #{$xs}{
                    padding-inline-start: 0;
                }
            }
            &-4{
                padding-inline-start: 20px;
                @media #{$xs}{
                    padding-inline-start: 0;
                }
            }
        }
    }
    &-style{
        &-2{
            & .aq-footer-widget-social a {
                box-shadow: none;
                border: 1px solid rgba(0, 7, 9, 0.06);
            }
        }
    }
    &-black-feature-style{
        & .aqf-shop-feature{
            &-item{
                padding: 14px 30px;
                border-radius: 20px;
                border-color: transparent;
                background: rgba(249, 249, 249, 0.04);
                @media #{$xl} {
                    padding: 14px 10px;
                }
                & h4,
                & h2{
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 6px;
                    color: var(--aq-common-white);
                    font-family: var(--aq-ff-onest);
                }
                & p{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: var(--aq-ff-onest);
                    color: rgba(255, 255, 255, 0.70);
                }
                & span{
                    margin-bottom: 0;
                }
                &:hover{
                    & .aqf-shop-feature-icon{
                        animation: shrink-anim 0.6s;
                    }
                }
            }
            &-icon{
                width: 50px;
                height: auto;
                margin-inline-end: 6px;
                background-color: transparent;
            }
        }
    }
}

.aqb-footer{
    &-info{
        & a{
            line-height: 1;
            display: block;
            font-size: 14px;
            font-weight: 400;
            padding: 12px 20px;
            text-align: center;
            border-radius: 110px;
            color: var(--aq-common-black);
            border: 1px solid rgba(1, 15, 28, 0.1);
        }
    }
    &-app-info{
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
    }
}

.aq-footer{
    &-black{
        &-style{
            & .aq-footer-widget-title{
                font-weight: 600;
                font-family: var(--aq-ff-onest);
                color: var(--aq-common-white);
            }
            & .aq-footer-widget-input-box p {
                font-weight: 400;
                font-family: var(--aq-ff-onest);
                color: var(--aq-common-white);
                @media #{$lg,$md,$xs}{
                    & br{
                        display: none;
                    }
                }
            }
            & .aq-footer-widget-social-title {
                color: var(--aq-common-white);
            }
            & .aq-footer-widget-input {
                & input {
                    border-radius: 20px;
                    border: 1px solid transparent;
                    color: var(--aq-common-white);
                    background: rgba($color: #fff, $alpha: 0.06);
                    @include aq-placeholder{
                        color: var(--aq-common-white);
                    }
                    &:focus{
                        border-color: var(--aq-common-white);
                    }
                }
                & .aq-btn-subscribe{
                    border-radius: 20px;
                    background-color: var(--aq-common-red);
                    &:hover{
                        color: var(--aq-common-black);
                        background-color: var(--aq-common-white);
                    }
                }
            }
            & .aq-footer-widget-social a {
                border-radius: 20px;
                color: var(--aq-common-white);
                border: 1px solid rgba(255, 255, 255, 0.06);
                background: rgba($color: #fff, $alpha: 0.06);
                &:hover{
                    color: var(--aq-common-black);
                    background-color: var(--aq-common-white);
                }
            }
            & .aq-footer-widget-menu ul li {
                &::before{
                    background-color: rgba(255, 255, 255, 0.60);
                }
                & a {
                    font-weight: 500;
                    font-family: var(--aq-ff-onest);
                    color: rgba(255, 255, 255, 0.60);
                    &:hover{
                        color: var(--aq-common-white);
                    }
                }
            }
            & .aq-copyright-border {
                border-top: 1px solid rgba($color: #fff, $alpha: 0.08);
            }
            & .aq-copyright-text p a {
                color: var(--aq-common-white);
            }
            & .aqb-footer-info a {
                color: var(--aq-common-white);
                border: 1px solid rgba($color: #fff, $alpha: 0.1);
                &:hover{
                    color: var(--aq-common-black);
                    border-color: var(--aq-common-white);
                    background-color: var(--aq-common-white);
                }
            }
        }
    }
    &-coffee-style{
        & .aq-footer-widget{
            &-menu{
                & ul{
                    & li{
                        &:hover{
                            & a{
                                color: var(--aq-common-coffee);
                            }
                            &::before{
                                background-color: var(--aq-common-coffee);
                            }
                        }
                    }
                }
            }
            &-social{
                & a{
                    &:hover{
                        background-color: var(--aq-common-coffee);
                    }
                }
            }
            &-input {
                & input{
                    &:focus{
                        border-color: var(--aq-common-coffee);
                    }
                }
                & .aq-btn-subscribe{
                    color: var(--aq-common-white);
                    background-color: var(--aq-common-coffee);
                    &:hover{
                        background-color: var(--aq-common-black);
                    }
                }
            }
            & .aq-footer-contact-item a:hover {
                color: var(--aq-common-coffee);
            }
        }
    }
}

.fr-footer{
    &-style{
        & .aq-footer-widget-title {
            color: var(--aq-common-off-white);
        }
        & .aq-footer-widget-input-box p {
            color: rgba($color: #F7F2ED, $alpha: 0.8);
        }
        & .aq-footer-widget-input {
            & input {
                border-radius: 12px;
                background: transparent;
                color: var(--aq-common-off-white);
                border-color:rgba(247, 242, 237, 0.10);
                @include aq-placeholder{
                    color: var(--aq-common-off-white);
                }
                &:focus{
                    border-color: var(--aq-common-off-white);
                }
            }
            & .aq-btn-subscribe{
                inset-inline-end: 0;
                height: 100%;
                border-radius: 12px;
                color: var(--aq-common-coffee);
                background-color: var(--aq-common-off-white);
                &:hover{
                    color: var(--aq-common-white);
                    background-color: var(--aq-common-black);
                }
            }
        }
        & .aq-footer-widget-social-title {
            color: var(--aq-common-off-white);
        }
        & .aq-footer-widget-social a {
            box-shadow: none;
            border-radius: 12px;
            background: transparent;
            color: var(--aq-common-off-white);
            border: 1px solid rgba(247, 242, 237, 0.10);
            &:hover{
                color: var(--aq-common-black);
                border-color: var(--aq-common-off-white);
                background-color: var(--aq-common-off-white);
            }
        }
        & .aq-footer-widget-menu ul li a {
            color: rgba($color: #F7F2ED, $alpha: 0.8);
        }
        & .aq-footer-widget-menu ul li{
            transition: all .3s;
            &:hover{
                &::before{
                    background-color: var(--aq-common-off-white);
                }
                & a{
                    color: var(--aq-common-off-white);
                }
            }
            &::before {
                transition: all .3s;
                background: rgba($color: #F7F2ED, $alpha: 0.8);
            }
        }
        & .aqb-footer-info a {
            border-radius: 12px;
            color: rgba($color: #F7F2ED, $alpha: 0.8);
            border: 1px solid rgba($color: #F7F2ED, $alpha: 0.10);
            &:hover{
                background-color: #F7F2ED;
                color: var(--aq-common-black);
            }
        }
        & .aq-copyright-border {
            border-top: 1px solid rgba(247, 242, 237, 0.10);
        }
        & .aq-copyright-text p {
            color: rgba($color: #F7F2ED, $alpha: 0.8);
            & a{
                color: var(--aq-common-white);
            }
        }
    }
}

.csm-footer{
    &-style{
        & .aq-footer-widget-input input{
            box-shadow: none;
            border: 1px solid rgba(0, 7, 9, 0.06);
            &:focus{
                border-color: var(--aq-common-black);
            }
        }
        & .aq-footer-widget-social a {
            box-shadow: none;
            border: 1px solid rgba(0, 7, 9, 0.06);
        }
    }
}

.med-footer{
    &-style{
        & .aq-btn-subscribe {
            &:hover{
                background-color: var(--aq-common-paste);
            }
        }
        & .aq-footer-widget-social a {
            &:hover{
                background-color: var(--aq-common-paste);
            }
        }
        & .aq-footer-widget-menu ul li {
            &:hover{
                & a{
                    color: var(--aq-common-paste);
                }
                &::before{
                    background-color: var(--aq-common-paste);
                }
            }
        }
        & .aq-footer-contact-item a:hover {
            color: var(--aq-common-paste);
        }
    }
}


// copyright css start
.aq-copyright{
    &-border{
        border-top: 1px solid rgba(20, 20, 20, 0.08);
    }
    &-text{
        & p{
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            font-family: var(--aq-ff-satoshi-medium);
            @media #{$xs}{
                font-size: 15px;
            }
            & a{
                color: var(--aq-common-black);
            }
        }
    }
}