@use '../../utils' as *;

/*----------------------------------------*/
/*  7.12 login css
/*----------------------------------------*/

.aq-login{
    &-wrapper{
        padding: 40px;
        border-radius: 16px;
        padding-bottom: 35px;
        background: var(--aq-common-white);
        box-shadow: 0 30px 70px 0 rgba(1, 15, 28, 0.10);
    }
    &-title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
    &-top{
        & p{
            font-size: 16px;
            font-weight: 400;
            color: #49535B;
            font-family: var(--aq-ff-satoshi-regular);
            & br{
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    &-option{
        &-item{
            margin-bottom: 10px;
            &:not(:last-child){
                margin-inline-end: 10px;
            }
            & a{
                font-size: 16px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                display: inline-grid;
                place-content: center;
                background-color: #F6F6F9;
                &:hover{
                    transform: translateY(-2px);
                }
            }
        }
    }
    &-mail{
        position: relative;
        z-index: 1;
        & p{
            font-size: 15px;
            font-weight: 400;
            color: #49535B;
            margin-bottom: 0;
            padding: 0 20px;
            position: relative;
            display: inline-block;
            background-color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-regular);
        }
        &::after{
            inset-inline-start: 0;
            inset-inline-end: 0;
            content: '';
            bottom: 12px;
            width: 100%;
            height: 1px;
            z-index: -1;
            transition: .3s;
            position: absolute;
            background-color: #C6C6C6;
        }
    }
    &-input{
        &-wrapper{
            margin-bottom: 20px;
        }
        &-box{
            position: relative;
            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
        &-eye{
            position: absolute;
            inset-inline-end: 26px;
            top: 50%;
            @include aq-transform(translateY(-50%));
            & .open-eye{
                display: none;
            }
            & span{
                transition: .3s;
            }
            &:hover{
                cursor: pointer;
                & span{
                    color: var(--aq-common-black);
                }
            }
        }
    }
    &-forgot{
        & a{
            font-size: 15px;
            font-weight: 400;
            display: inline-block;
            position: relative;
            color: var(--aq-common-black);
            &::after{
                position: absolute;
                content: '';
                inset-inline-start: auto;
                inset-inline-end: 0;
                bottom: 4px;
                width: 0%;
                height: 1px;
                transition: .3s;
                background-color: #B91D1F;
            }
            &:hover{
                color: #B91D1F;
                &::after{
                    inset-inline-start: 0;
                    inset-inline-end: auto;
                    width: 100%;
                }
            }
        }
    }
    &-btn{
        position: relative;
        font-size: 16px;
        font-weight: 500;
        padding: 9px 30px;
        text-align: center;
        border-radius: 6px;
        display: inline-block;
        color: var(--aq-common-white);
        border: 1px solid transparent;
        background-color: #010F1C;
        &.btn-transparent{
            border: 1px solid #BFBFBF;
            color: var(--aq-common-black);
            background-color: transparent;
        }
        &:hover{
            color: #fff;
            border-color: #B91D1F;
            background-color: #B91D1F;
        }
    }
    &-account{
        font-size: 16px;
        text-decoration: underline;
        color: var(--aq-common-black);
        & button{
            text-decoration: underline;
        }
        &:hover{
            & a,
            & button{
                color: #B91D1F;
            }
        }
        &.color{
            &:hover{
                color: #B91D1F;
            }
        }
    }
    &-box{
        border-radius: 16px;
        border: 1px solid #E8EAEB;
        & .aq-login{
            &-thumb-wrap{
                height: 100%;
                &.custom-hight{
                    height: 630px;
                    object-fit: cover;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px 0 0 16px;
                }
            }
            &-wrapper{
                box-shadow: none;
                padding: 40px 60px 25px;
                background-color: transparent;
                @media #{$xl,$lg,$md,$xs} {
                    padding: 40px 30px 25px;
                }
            }
        }
    }
    &-page-style{
        &.grc-feature-style{
            & .aqf-shop-feature{
                &-wrap{
                    justify-content: space-around;
                    @media #{$xl,$lg,$md,$xs} {
                        justify-content: space-between;
                    }
                }
                &-item{
                    & span{
                        color: var(--aq-common-white);
                    }
                    &:not(:last-of-type) {
                        border: none;
                    }
                    &:not(:first-of-type) {
                        border-left: 1px solid rgba($color: #fff, $alpha: 0.2);
                        @media #{$xl,$lg,$md,$xs} {
                            border: none;
                        }
                    }
                }
                &-wrap{
                    border-radius: 0;
                }
                &-content{
                    & h4{
                        color: var(--aq-common-white);
                    }
                    & p{
                        margin: 0;
                        color: rgba($color: #fff, $alpha: 0.7);
                    }
                }
            }
        }
    }
}


.#{$theme-prifix}-order{
    &-subtitle{
        font-size: 14px;
        font-weight: 500;
        color: rgba(15, 15, 15, 0.60);
    }
    &-title{
        font-size: 50px;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
        @media #{$xs} {
            font-size: 36px;
        }
    }
    &-details{
        border-radius: 20px;
        padding: 70px 100px 80px;
        &-icon{
            margin-bottom: 30px;
            & span{
                display: inline-grid;
                place-content: center;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                color: var(--aq-common-white);
                border: 2px solid rgba(255, 255, 255, 0.20);
            }
        }
        &-title{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-bold);
        }
        &-content{
            & p{
                color: rgba(255, 255, 255, 0.70);
            }
        }
        &-item{
            text-align: center;
            & h4{
                font-size: 16px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.60);
                font-family: var(--aq-ff-satoshi-regular);
            }
            & p{
                font-size: 18px;
                font-weight: 700;
                color: var(--aq-common-white);
                font-family: var(--aq-ff-satoshi-bold);
            }
        }
    }
    &-info{
        &-list{
            & ul{
                & li{
                    list-style: none;
                    padding: 15px 0;
                    @include flexbox();
                    align-items: center;
                    justify-content: space-between;

                    &:not(:last-child){
                        border-bottom: 1px solid #E0E2E3;
                    }
                    & span{
                        font-size: 15px;
                        color: var(--aq-common-black);
                    }
                    &.aq-order-info-list{
                        &-header{
                            padding-top: 0;
                            padding-bottom: 12px;
                            & h4{
                                font-size: 17px;
                                font-weight: 700;
                                margin-bottom: 0;
                                color: var(--aq-common-black);
                                font-family: var(--aq-ff-satoshi-bold);
                            }
                        }
                        &-desc{
                            & p{
                                font-size: 15px;
                                margin-bottom: 0;

                                & span{
                                    font-size: 15px;
                                    font-weight: 500;
                                }
                            }
                        }
                        &-subtotal{
                            & span{
                                &:last-child{
                                    color: #3749BB;
                                }
                            }
                        }
                        &-total{
                            padding: 22px 24px;
                            & span{
                                font-size: 16px;
                                font-weight: 700;
                                font-family: var(--aq-ff-satoshi-bold);
                            }
                        }
                    }
                }
            }
        }
    }
    &-adress{
        border-radius: 12px;
        background: #F8F8F8;
        padding: 24px 20px 30px;
        &-heading{
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(20, 20, 20, 0.10);
            & h4{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
                color: var(--aq-common-black);
                font-family: var(--aq-ff-satoshi-bold);
            }
        }
        &-list{
            & ul{
                & li{
                    list-style: none;
                    font-size: 15px;
                    font-weight: 500;
                    color: #505155;
                    margin-bottom: 10px;
                    & span{
                        font-size: 15px;
                        font-weight: 400;
                        color: var(--aq-common-black);
                    }
                }
            }
        }
    }
}


.aq-compare{
    &-wrapper{
        padding: 40px;
        border-radius: 16px;
        background: var(--aq-common-white);
        box-shadow: 0 1px 2px 0 rgba(1, 15, 28, 0.10);
        @media #{$xs} {
            padding: 30px;
        }
    }
    &-top{
        &-info{
            gap: 30px;
            flex-wrap: wrap;
        }
        &-title{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
            letter-spacing: -0.24px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-bold);
        }
        &-right{
            gap: 10px;
            display: flex;
        }
        &-left{
            & p{
                margin-bottom: 0;
            }
        }
    }
    &-btn-blue{
        font-size: 15px;
        font-weight: 500;
        padding: 7px 17px;
        border-radius: 6px;
        background: #F5F5F5;
        color: var(--aq-common-black);
        & svg{
            margin-inline-end: 4px;
        }
        &:hover,
        &.active{
            background-color: #3749BB;
            color: var(--aq-common-white);
        }
    }
    &-box{
        .comparison-wrapper {
            background: var(--aq-common-white);
        }

        .comparison-table {
            width: 100%;
            @media #{$md,$xs} {
                width: 1080px;
            }
        }

        .comparison-table th,
        .comparison-table td {
            padding: 15px;
            font-size: 16px;
            font-weight: 400;
            padding-inline-start: 30px;
            border: 1px solid #e5e5e5;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-regular);
            &:hover{
                background: #fafafaa3;
            }
        }

        .comparison-table thead th {
            position: relative;
            text-align: center;
            padding-inline-start: 15px;
            & .aq-compare-remove{
                top: 15px;
                inset-inline-end: 15px;
                background-color: #f5f5f5;
                color: var(--aq-common-black);
            }
        }

        .comparison-table img {
            margin-bottom: 10px;
            vertical-align: top;
        }

        .comparison-table .aq-compare-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
            color: var(--aq-common-black);
            font-family: var(--aq-ff-satoshi-medium);
        }

        .price {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
            color: #B91D1F;
        }

        .comparison-table tbody td:first-child {
            font-weight: 500;
            background: #fafafa;
            font-family: var(--aq-ff-satoshi-medium);
        }

        .aq-compare-btn {
            border: none;
            cursor: pointer;
            padding: 10px 25px;
            border-radius: 6px;
            color: var(--aq-common-white);
            background: var(--aq-common-black);
        }

        & .aq-product-details-size-list {
            & button{
                width: 44px;
                font-size: 15px;
                border-radius: 4px;
            }
        }

        & .aq-compare-price-wrap{
            gap: 5px;
            display: flex;
            align-items: center;
            & del{
                color: var(--aq-text-body);
            }
        }

        & .aq-compare-body-thumb{
            height: 80px;
            width: 80px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 0;
            }
        }

        .aq-compare-btn:hover {
            background: #333;
        }

        .action-row td {
            background: #fff;
        }
    }
}

.aq-comming-soon{
    &-bg{
        height: 100vh;
    }
    &-logo{
        @media #{$xs} {
            margin-bottom: 120px;
        }
    }
    &-content{
        &-title{
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 15px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-bold);
        }
        & p{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 30px;
            color: var(--aq-common-white);
            font-family: var(--aq-ff-satoshi-bold);
        }
        & .aqf-deals-countbox{
            & .aq-countdown-style-2 {
                gap: 20px;
                & .count-box {
                    & span{
                        width: auto;
                        font-size: 55px;
                        background-color: transparent;
                        @media #{$xs} {
                            font-size: 36px;
                        }
                    }
                    & i{
                        font-size: 65px;
                        color: var(--aq-common-white);
                        @media #{$xs} {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    &-form{
        position: relative;
        & .aq-form-control{
            &:focus{
                border-color: var(--aq-common-white);
                background-color: rgba($color: #fff, $alpha: 0.6);
            }
        }
        & .aq-btn-subscribe{
            position: absolute;
            top: 4px;
            inset-inline-end: 4px;
        }
    }
    &-social{
        & .aq-footer-widget-social{
            @media #{$xs} {
                margin-bottom: 120px;
            }
            & a{
                border: 1px solid var(--aq-common-white);
                &:hover{
                    color: var(--aq-common-black);
                    background-color: rgba($color: #fff, $alpha: 0.6);
                }
            }
        }
    }
    &-contact{
        & a{
            font-size: 18px;
            color: var(--aq-common-white);
            &:hover{
                color: var(--aq-common-white);
            }
        }
    }
}


.aq-error{
    &-title{
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 50px;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-bold);
    }
    &-title-sm{
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--aq-common-black);
        font-family: var(--aq-ff-satoshi-medium);
    }
    &-content{
        & p{
            font-weight: 400;
            font-size: 18px;
            color: #57575a;
            margin-bottom: 30px;
        }
    }
}